body {
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  background-color: #eaeaf0;
}

header h1{
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  align-self: center;
  margin: 0 auto;
}

header {
  height: 100px;
  margin: 0;
  background-color: #f00f01;
  display: flex;
  margin-bottom: 2%;
}

.navbar {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

#header-img {
  width: 100%;
  background: url("https://media.licdn.com/media/AAEAAQAAAAAAAArwAAAAJGY1Njc3M2FiLWVkZjQtNDBjYi1hNDFlLTExZGQ2OGE4MGVmNQ.png") no-repeat;
  background-size: 100px 100px;
  max-height: 100px;
  display: flex;
}

.row .first-section {
  background-color: white;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  min-height: 500px;
  justify-content: center;
}

#infotext {
  height: 20%;
  padding: 5%;
  font-size: 1.2em;
}

.table.col-md-6 {
  padding: 0 15%;
}

.table table, td, th {
  border: 1px solid gray;
}

th:not(:first-child), td:not(:first-child){
  text-align: center
}
}

td{
  width: 20%;
}